# Node.js-related files (if applicable)
node_modules
npm-debug.log
yarn-error.log

# Python-related files (if applicable)
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
*.egg-info/

# Log files
*.log
*.out
*.err

# Temporary files
*.tmp
*.swp
.DS_Store
Thumbs.db

# Version control directories
.git
.gitignore

# Docker-specific files
.dockerignore
docker-compose.override.yml
